.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-start; */
  height: 100vh;
  width: 100vw;
}

.heading{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  width: 100%;
}


.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  height: max-content;
}

.tools{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: orange;
}

.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  max-height: 500px;
  height: 80%;
  width: 80%;
  background-color: gray;
  border-radius: 4px; 
}

.tool-btn-container {
  margin: 20px;
  height: 80px;
  width: 80px;
  background-color: white;
}

.tool-btn-img {
  height: 100%;
  width: 100%;
}

.canvas{
  width: 80%;
  min-height: 100%;
  height: max-content;
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
