.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-start; */
  height: 100vh;
  width: 100vw;
}

.heading{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  width: 100%;
}


.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  height: max-content;
}

.tools{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: orange;
}

.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 200px;
  min-height: 80%;
  height: max-content;
  background-color: gray;
  border-radius: 10px; 
}

.tool-btn-container {
  margin: 20px;
  height: 80px;
  width: 80px;
  background-color: white;
  box-shadow: 4px 4px;
}

.tool-btn-container:hover{
  border: 2px solid yellow;
  margin: 18px;
  cursor: pointer;
}

.tool-btn-clicked{
  box-shadow: none;
  border: 4px solid blue;
  margin: 16px;
}

.tool-btn-img {
  height: 100%;
  width: 100%;
}

.dimensions-container{
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  border: 2px solid white;
  width: 80%;
  height: min-content;
  margin: 20px;
  border-radius: 10px;
}

.dimensions-title{
  margin-bottom: 0;
  color: white;
}

.input-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.input-dimensions{
  font-size: 15px;
  height:30px;
  width: 80%;
  margin: 5px 0; 
}

.canvas-container{
  width: 80%;
  min-height: 100%;
  height: max-content;
  background-color: grey;
}

.canvas{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 80%;
  min-height: 100%; */
  width: max-content;
  height: max-content;
  background-color: #fff;
}

.squares{
  height: 50px;
  width: 50px;
}

.grey-on-hover {
  position: relative;
  cursor: pointer;
}

.grey-on-hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  transition: opacity .3s;
  opacity: 0;
  z-index: 2;
}

.grey-on-hover:hover:before {
  opacity: 1;
}

.popover{
  position: relative;
  z-index: 10;
  top: -160px;
  left: 85px;
}

.cover{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
