.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.heading {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  height: max-content;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: orange;
}

.toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 200px;
  min-height: 80%;
  height: max-content;
  background-color: gray;
  border-radius: 10px;
}

.tool-btn-container {
  margin: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 4px 4px;
}

.tool-btn-container:hover {
  border: 2px solid yellow;
  margin: 8px;
  cursor: pointer;
}

.tool-btn-clicked {
  box-shadow: none;
  border: 4px solid blue;
  margin: 6px;
}

.tool-btn-img {
  height: 100%;
  width: 100%;
}

.dimensions-container {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  border: 2px solid white;
  width: 80%;
  height: min-content;
  margin: 10px 20px;
  border-radius: 10px;
}

.dimensions-title {
  margin-bottom: 0;
  color: white;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.input-dimensions {
  font-size: 15px;
  height: 30px;
  width: 80%;
  margin: 5px 0;
  padding: 3px;
}

.canvas-container {
  width: 80%;
  min-height: 100%;
  height: max-content;
  background-color: grey;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
  height: max-content;
  background-color: #fff;
}

.grey-on-hover {
  position: relative;
  cursor: pointer;
}

.grey-on-hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 2;
}

.grey-on-hover:hover:before {
  opacity: 1;
}

.popover {
  position: relative;
  z-index: 10;
  top: -150px;
  left: 85px;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Hide incremente/decrement arrows for input number type
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-height: 650px) {
  .popover {
    position: absolute;
    z-index: 10;
    top: 20vh;
    left: 20%;
  }

  .tools {
    overflow-y: auto;
    align-items: baseline;
  }
}
